body{
	margin: 0;
}
.card{
	width: calc(50% - 12px);
	height: calc(70vw - 12px);
}
.deploymentZone{
	height: calc(100% - 26px) !important;
}
.card .text,
.card a{
	font-size: 2.5vw;
}
.card h3,
.card h1{
	font-size: 4vw;
	height: auto;
}